/* 03_csstypesetting.html裡面的calc()函式 */
.calc {
    width: calc(100% - 400px);
    background-color: red;
    color: white;
}

/* 04_cssflexbox.html */
.box1 {
    background: #400677;
    width: 150px;
    border: 5px solid #ff6600;
    padding: 50px;
    margin: 25px;
}

.box2 {
    box-sizing: content-box;
    width: 200px;
    border: 20px solid #ffcc00;
    padding: 15px;
    background-color: lightblue;
    color: black;
}

.box3 {
    box-sizing: border-box;
    width: 200px;
    border: 20px solid #ffcc00;
    padding: 15px;
    background-color: lightblue;
    color: black;
}

.flex_c1 {
    display: flexbox;
    width: 200px;
    height: 80px;
    text-align: center;
    background-color:rgb(108, 241, 130);
    color: black;
}

.flex_i1 {
    display: inline-flex;
    height: 25px;
    background:#81bdef;
    color: black;
}

.flex_i2 {
    display: inline-flex;
    height: 25px;
    background:#81bdef;
    color: black;
}

.container1 {
    display: flex;
    border: 2px solid #ff6600;
    color: black;
}

.d_one {
    margin: 5px;
    padding: 10px;
    background-color: lightblue;
    color: black;
}

.container2 {
    display: flex;
    border: 2px solid #ff6600;
    color: black;
}

.container3 {
    display: flex;
    border: 2px solid #219B9D;
    width: 345px;
    color: black;
}

.d_two {
    margin: 5px;
    padding: 10px;
    background-color: rgb(147, 227, 213);
    color: black;
}

.container4 {
    display: flex;
    border: 2px solid #219B9D;
    width: 345px;
}

.container8 {
    display: inline-flex;
    border: 2px solid #ff6600;
}

.container9 {
    display: inline-flex;
    border: 2px solid #ff6600;
}

.ul_1 {
    border: 1px solid #336699;
    border-radius: 5px;
    width: 290px;
    margin: 0 auto;
}

.ul_1 li {
    list-style-type: none;
    display: inline-flex;
}

.text-align-left {
    text-align: left;
}

.flex-direction-row {
    border: 2px solid #5681df;
    width: 450px;
    display: flex;
    flex-direction: row;
}

.flex-direction-row-item {
    background-color: red;
    color: white;
    width: 50px;
    height: 30px;
    margin: 5px;
    padding: 5px;
}

.flex-direction-row-reverse {
    border: 2px solid #5681df;
    width: 450px;
    display: flex;
    flex-direction: row-reverse;
}

.flex-direction-row-reverse-item {
    background-color: red;
    color: white;
    width: 50px;
    height: 30px;
    margin: 5px;
    padding: 5px;
}

.flex-direction-column {
    border: 2px solid #5681df;
    width: 450px;
    display: flex;
    flex-direction: column;
}

.flex-direction-column-item {
    background-color: red;
    color: white;
    width: 50px;
    height: 30px;
    margin: 5px;
    padding: 5px;
}

.flex-direction-column-reverse {
    border: 2px solid #5681df;
    width: 450px;
    display: flex;
    flex-direction: column-reverse;
}

.flex-direction-column-reverse-item {
    background-color: red;
    color: white;
    width: 50px;
    height: 30px;
    margin: 5px;
    padding: 5px;
}

.flex-wrap-nowrap {
    border: 2px solid #5681df;
    width: 300px;
    display: flex;
    flex-wrap: nowrap;
}

.flex-wrap-nowrap-item {
    background-color: red;
    color: white;
    width: 50px;
    height: 30px;
    margin: 5px;
    padding: 5px;
}

.flex-wrap-wrap {
    border: 2px solid #5681df;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
}

.flex-wrap-wrap-item {
    background-color: red;
    color: white;
    width: 50px;
    height: 30px;
    margin: 5px;
    padding: 5px;
}

.flex-wrap-wrap-reverse {
    border: 2px solid #5681df;
    width: 300px;
    display: flex;
    flex-wrap: wrap-reverse;
}

.flex-wrap-wrap-reverse-item {
    background-color: red;
    color: white;
    width: 50px;
    height: 30px;
    margin: 5px;
    padding: 5px;
}

.justify-content-flex-start {
    border: 2px solid #5681df;
    width: 500px;
    display: flex;
    justify-content: flex-start;
}

.justify-content-flex-start-item {
    background-color: red;
    color: white;
    width: 50px;
    height: 30px;
    margin: 5px;
    padding: 5px;
}

.justify-content-flex-end {
    border: 2px solid #5681df;
    width: 500px;
    display: flex;
    justify-content: flex-end;
}

.justify-content-flex-end-item {
    background-color: red;
    color: white;
    width: 50px;
    height: 30px;
    margin: 5px;
    padding: 5px;
}

.justify-content-center {
    border: 2px solid #5681df;
    width: 500px;
    display: flex;
    justify-content: center;
}

.justify-content-center-item {
    background-color: red;
    color: white;
    width: 50px;
    height: 30px;
    margin: 5px;
    padding: 5px;
}

.justify-content-space-between {
    border: 2px solid #5681df;
    width: 500px;
    display: flex;
    justify-content: space-between;
}

.justify-content-space-between-item {
    background-color: red;
    color: white;
    width: 50px;
    height: 30px;
    margin: 5px;
    padding: 5px;
}

.justify-content-space-around {
    border: 2px solid #5681df;
    width: 500px;
    display: flex;
    justify-content: space-around;
}		

.justify-content-space-around-item {
    background-color: red;
    color: white;
    width: 50px;
    height: 30px;
    margin: 5px;
    padding: 5px;
}

.align-items-flex-start {
    border: 1px solid #5681df;
    width: 450px;
    display: flex;
    align-items: flex-start;
}

.align-items-flex-start-item-1 {
    background-color: red;
    color: white;
    width: 50px;
    height: 30px;
    margin: 5px;
    padding: 5px;
}

.align-items-flex-start-item-2 {
    background-color: red;
    color: white;
    width: 50px;
    height: 40px;
    margin: 5px;
    padding: 5px;
}

.align-items-flex-start-item-3 {
    background-color: red;
    color: white;
    width: 50px;
    height: 50px;
    margin: 5px;
    padding: 5px;
}

.align-items-flex-start-item-4 {
    background-color: red;
    color: white;
    width: 50px;
    height: 60px;
    margin: 5px;
    padding: 5px;
}

.align-items-flex-start-item-5 {
    background-color: red;
    color: white;
    width: 50px;
    height: 70px;
    margin: 5px;
    padding: 5px;
}

.align-items-flex-start-item-6 {
    background-color: red;
    color: white;
    width: 50px;
    height: 30px;
    margin: 5px;
    padding: 5px;
}

.align-items-flex-end {
    border: 1px solid #5681df;
    width: 450px;
    display: flex;
    align-items: flex-end;
}

.align-items-flex-end-item-1 {
    background-color: red;
    color: white;
    width: 50px;
    height: 30px;
    margin: 5px;
    padding: 5px;
}

.align-items-flex-end-item-2 {
    background-color: red;
    color: white;
    width: 50px;
    height: 40px;
    margin: 5px;
    padding: 5px;
}

.align-items-flex-end-item-3 {
    background-color: red;
    color: white;
    width: 50px;
    height: 50px;
    margin: 5px;
    padding: 5px;
}

.align-items-flex-end-item-4 {
    background-color: red;
    color: white;
    width: 50px;
    height: 60px;
    margin: 5px;
    padding: 5px;
}

.align-items-flex-end-item-5 {
    background-color: red;
    color: white;
    width: 50px;
    height: 70px;
    margin: 5px;
    padding: 5px;
}

.align-items-flex-end-item-6 {
    background-color: red;
    color: white;
    width: 50px;
    height: 30px;
    margin: 5px;
    padding: 5px;
}

.align-items-center-1 {
    border: 1px solid #5681df;
    width: 450px;
    display: flex;
    align-items: center;
}

.align-items-center-item-1 {
    background-color: red;
    color: white;
    width: 50px;
    height: 30px;
    margin: 5px;
    padding: 5px;
}

.align-items-center-item-2 {
    background-color: red;
    color: white;
    width: 50px;
    height: 40px;
    margin: 5px;
    padding: 5px;
}

.align-items-center-item-3 {
    background-color: red;
    color: white;
    width: 50px;
    height: 50px;
    margin: 5px;
    padding: 5px;
}

.align-items-center-item-4 {
    background-color: red;
    color: white;
    width: 50px;
    height: 60px;
    margin: 5px;
    padding: 5px;
}

.align-items-center-item-5 {
    background-color: red;
    color: white;
    width: 50px;
    height: 70px;
    margin: 5px;
    padding: 5px;
}

.align-items-center-item-6 {
    background-color: red;
    color: white;
    width: 50px;
    height: 30px;
    margin: 5px;
    padding: 5px;
}

.align-items-baseline {
    border: 1px solid #5681df;
    width: 450px;
    display: flex;
    align-items: baseline;
}

.align-items-baseline-item-1 {
    background-color: red;
    color: white;
    width: 50px;
    line-height: 30px;
    margin: 5px;
    padding: 5px;
}

.align-items-baseline-item-2 {
    background-color: red;
    color: white;
    width: 50px;
    line-height: 40px;
    margin: 5px;
    padding: 5px;
}

.align-items-baseline-item-3 {
    background-color: red;
    color: white;
    width: 50px;
    line-height: 50px;
    margin: 5px;
    padding: 5px;
}

.align-items-baseline-item-4 {
    background-color: red;
    color: white;
    width: 50px;
    line-height: 60px;
    margin: 5px;
    padding: 5px;
}

.align-items-baseline-item-5 {
    background-color: red;
    color: white;
    width: 50px;
    line-height: 70px;
    margin: 5px;
    padding: 5px;
}

.align-items-baseline-item-6 {
    background-color: red;
    color: white;
    width: 50px;
    line-height: 30px;
    margin: 5px;
    padding: 5px;
}

.align-items-stretch {
    border: 1px solid #5681df;
    width: 450px;
    height: 200px;
    display: flex;
    align-items: stretch;
}

.align-items-stretch-item-1 {
    background-color: red;
    color: white;
    width: 50px;
    margin: 5px;
    padding: 5px;
}

.align-items-stretch-item-2 {
    background-color: red;
    color: white;
    width: 50px;
    margin: 5px;
    padding: 5px;
}

.align-items-stretch-item-3 {
    background-color: red;
    color: white;
    width: 50px;
    margin: 5px;
    padding: 5px;
}

.align-items-stretch-item-4 {
    background-color: red;
    color: white;
    width: 50px;
    margin: 5px;
    padding: 5px;
}

.align-items-stretch-item-5 {
    background-color: red;
    color: white;
    width: 50px;
    margin: 5px;
    padding: 5px;
}

.align-items-stretch-item-6 {
    background-color: red;
    color: white;
    width: 50px;
    margin: 5px;
    padding: 5px;
}

.align-content-flex-start {
    border: 1px solid #5681df;
    width: 150px;
    height: 250px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.align-content-flex-start-item {
    background-color: red;
    color: white;
    width: 50px;
    margin: 5px;
    padding: 5px;
}

.align-content-flex-end {
    border: 1px solid #5681df;
    width: 150px;
    height: 250px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
}

.align-content-flex-end-item {
    background-color: red;
    color: white;
    width: 50px;
    margin: 5px;
    padding: 5px;
}

.align-content-center {
    border: 1px solid #5681df;
    width: 150px;
    height: 250px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.align-content-center-item {
    background-color: red;
    color: white;
    width: 50px;
    margin: 5px;
    padding: 5px;
}

.align-content-space-between {
    border: 1px solid #5681df;
    width: 150px;
    height: 250px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.align-content-space-between-item {
    background-color: red;
    color: white;
    width: 50px;
    margin: 5px;
    padding: 5px;
}

.align-content-space-around {
    border: 1px solid #5681df;
    width: 150px;
    height: 250px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}

.align-content-space-around-item {
    background-color: red;
    color: white;
    width: 50px;
    margin: 5px;
    padding: 5px;
}

.align-content-stretch {
    border: 1px solid #5681df;
    width: 150px;
    height: 250px;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
}

.align-content-stretch-item {
    background-color: red;
    color: white;
    width: 50px;
    margin: 5px;
    padding: 5px;
}

.align-self-flex-start {
    align-self: flex-start;
    background-color: red;
    color: white;
    width: 50px;
    height: 30px;
    margin: 5px;
    padding: 5px;
}

.flex-basis-container {
    border: 2px solid #5681df;
    width: 450px;
    display: flex;
}

.flex-basis-box-1 {
    background-color: red;
    color: white;
    width: 50px;
    margin: 5px;
    padding: 5px;
}

.flex-basis-box-2 {
    background-color: red;
    color: white;
    width: 50px;
    flex-basis: 100px;
    margin: 5px;
    padding: 5px;
}

.flex-grow-container {
    border: 2px solid #5681df;
    width: 500px;
    display: flex;
}

.flex-grow-box-1 {
    background-color: red;
    color: white;
    flex-basis: 100px;
    margin: 5px;
    padding: 5px;
}

.flex-grow-box-2 {
    background-color: red;
    color: white;
    flex-basis: 100px;
    margin: 5px;
    padding: 5px;
}

.flex-grow-box-3 {
    background-color: red;
    color: white;
    flex-basis: 100px;
    margin: 5px;
    padding: 5px;
}

.flex-grow-box-1-grow {
    background-color: red;
    color: white;
    flex-basis: 100px;
    flex-grow: 1;
    margin: 5px;
    padding: 5px;
}

.flex-grow-box-1-grow-1 {
    background-color: red;
    color: white;
    flex-basis: 100px;
    flex-grow: 1;
    margin: 5px;
    padding: 5px;
}

.flex-grow-box-2-grow-2 {
    background-color: red;
    color: white;
    flex-basis: 100px;
    flex-grow: 2;
    margin: 5px;
    padding: 5px;
}

.flex-shrink-container {
    border: 2px solid #5681df;
    width: 500px;
    display: flex;
}

.flex-shrink-box-1 {
    background-color: red;
    color: white;
    flex-basis: 200px;
    flex-shrink: 1;
    margin: 5px;
    padding: 5px;
}

.flex-shrink-box-2 {
    background-color: red;
    color: white;
    flex-basis: 200px;
    flex-shrink: 1;
    margin: 5px;
    padding: 5px;
}

.flex-shrink-box-3 {
    background-color: red;
    color: white;
    flex-basis: 200px;
    flex-shrink: 1;
    margin: 5px;
    padding: 5px;
}

.flex-shrink-box-1-shrink-0 {
    background-color: red;
    color: white;
    flex-basis: 200px;
    flex-shrink: 0;
    margin: 5px;
    padding: 5px;
}

.flex-shrink-box-2-shrink-0 {
    background-color: red;
    color: white;
    flex-basis: 200px;
    flex-shrink: 0;
    margin: 5px;
    padding: 5px;
}

.flex-shrink-box-3-shrink-0 {
    background-color: red;
    color: white;
    flex-basis: 200px;
    flex-shrink: 0;
    margin: 5px;
    padding: 5px;
}

.flex-shrink-box-2-shrink-1 {
    background-color: red;
    color: white;
    flex-basis: 200px;
    flex-shrink: 1;
    margin: 5px;
    padding: 5px;
}

.flex-shrink-box-3-shrink-2 {
    background-color: red;
    color: white;
    flex-basis: 200px;
    flex-shrink: 2;
    margin: 5px;
    padding: 5px;
}

/* 06_csstransform.html */
.translate-container {
    display: flex;
    border: 1px solid green;
    justify-content: flex-start;
}

.translate-x-y {
    background-color: #2db34a;
    border-radius: 8px;
    color: white;
    width: 110px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    transition: 2s ease-in-out;
    margin: 5px;
    padding: 5px;
    flex: auto;
}

.translate-x-y:hover {
    transform: translate(50px, 100px);
}

.rotate-deg {
    background-color: #2db34a;
    border-radius: 8px;
    color: white;
    width: 110px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    transition: 2s ease-in-out;
    margin: 5px;
    padding: 5px;
    flex: auto;
}

.rotate-deg:hover {
    transform: rotate(200deg);
}

.scale-x-w {
    background-color: #2db34a;
    border-radius: 8px;
    color: white;
    width: 110px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    transition: 2s ease-in-out;
    margin: 5px;
    padding: 5px;
    flex: auto;
}

.scale-x-w:hover {
    transform: scaleX(0.5);
}

.scale-y-h {
    background-color: #2db34a;
    border-radius: 8px;
    color: white;
    width: 110px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    transition: 2s ease-in-out;
    margin: 5px;
    padding: 5px;
    flex: auto;
}

.scale-y-h:hover {
    transform: scaleY(3);
}

.scale-w-h {
    background-color: #2db34a;
    border-radius: 8px;
    color: white;
    width: 110px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    transition: 2s ease-in-out;
    margin: 5px;
    padding: 5px;
    flex: auto;
}

.scale-w-h:hover {
    transform: scale(0.5, 0.5);
}

.skew-x-deg {
    background-color: #2db34a;
    border-radius: 8px;
    color: white;
    width: 110px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    transition: 2s ease-in-out;
    margin: 5px;
    padding: 5px;
    flex: auto;
}

.skew-x-deg:hover {
    transform: skewX(20deg);
}

.skew-y-deg {
    background-color: #2db34a;
    border-radius: 8px;
    color: white;
    width: 110px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    transition: 2s ease-in-out;
    margin: 5px;
    padding: 5px;
    flex: auto;
}

.skew-y-deg:hover {
    transform: skewY(20deg);
}

.skew-x-y {
    background-color: #2db34a;
    border-radius: 8px;
    color: white;
    width: 110px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    transition: 2s ease-in-out;
    margin: 5px;
    padding: 5px;
    flex: auto;
}

.skew-x-y:hover {
    transform: skew(20deg, 10deg);
}

.rotate-container {
    display: flex;
    border: 1px solid green;
    justify-content: flex-start;
}

.rotate-x {
    background-color: #2db34a;
    border-radius: 8px;
    color: white;
    width: 110px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    transition: 2s ease-in-out;
    margin: 5px;
    padding: 5px;
    flex: auto;
}

.rotate-x:hover {
    transform: rotateX(150deg);
}

.rotate-y {
    background-color: #2db34a;
    border-radius: 8px;
    color: white;
    width: 110px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    transition: 2s ease-in-out;
    margin: 5px;
    padding: 5px;
    flex: auto;
}

.rotate-y:hover {
    transform: rotateY(150deg);
}

.rotate-z {
    background-color: #2db34a;
    border-radius: 8px;
    color: white;
    width: 110px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    transition: 2s ease-in-out;
    margin: 5px;
    padding: 5px;
    flex: auto;
}

.rotate-z:hover {
    transform: rotateZ(90deg);
}

/* 08_pseudo.html */
.span-hover {
    color: blue;
}

.span-hover:hover {
    background-color: green;
    color: white;
    font-weight: bold;
}

.out-block-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border: 2px solid red;
}
        
.out-block-container:hover::before {
    position: absolute;
    content: "哈囉！";
    width: 100px;
    height: 100px;
    border: 2px solid blue;
    text-align: center;
    color: green;
    font-size: 20px;
    line-height: 100px;
}

.box-jump {
    position: relative;
    background-color: rgb(213, 127, 127);
    width: 110px;
    height: 110px;
    top: 0;
    left: 300px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    text-align: center;
    line-height: 100px;
}

.box-jump::before {
    position: absolute;
    content: "我又跳進來了";
    width: 110px;
    height: 110px;
    top: 0;
    left: -150px;
    background-color: blue;
    font-size: 15px;
    font-weight: bold;
    color: white;
    text-align: center;
    line-height: 100px;
}

.box-jump:hover::before {
    position: absolute;
    content: "我又跳出去了";
    width: 110px;
    height: 110px;
    top: 0;
    left: 150px;
    background-color: purple;
    font-size: 15px;
    font-weight: bold;
    color: white;
    text-align: center;
    line-height: 100px;
}

.input-focus {
    font-size: 16px;
}

.input-focus:focus {
    outline: none;
    border: 2px red solid;
    background-color: gray;
    color: white;
}
        
.table-nth-of-type {
    border: 3px #faa solid;
}

.tr-nth-of-type:nth-of-type(2n+1) {
    background-color: pink;
}
        
.th-style {
    background-color: gray;
    color: white;
}

.tr-nth-of-type:hover {
    background-color: rgb(172, 235, 172);
}
        
.p-pseudo-element {
    color: red;
    border: 1px solid blue;
    text-align: center;
    font-size: 20px;
}

.p-pseudo-element::before {
    content: "♥";
    color: purple;
    font-size: 30px;
}

.p-pseudo-element::after {
    content: "♣";
    color: blue;
    font-size: 30px;
}

.txt {
    text-align: center;
    color: blue;
    font-size: 30px;
}

.txt::after {
    content: "，碰到我文字會放大與變色喔。"
}

.txt:hover::after {
    content: "，文字真的放大也變色了。";
    font-size: 50px;
    color: rgb(145, 18, 39);
}

.box-pic-container {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: blue;
    top: 0;
    left: 250px;
}

.box-pic-container::after {
    position: absolute;
    content: "";
    width: 100px;
    height: 100px;
    background-image: url(../images/cat.jpg);
    /*圖片位置：水平朝上，垂直置中*/
    background-position: top center;
    background-size: cover;
    top: 0;
    left: 150px;
}

.out-love {
    position: relative;
}

.in-love {
    position: absolute;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: red;
    top: 50px;
    left: 100px;
}

.in-love::before {
    content: attr(data-content);
    position: absolute;
    top: -30px;
    height: 40px;
    overflow: hidden;
    color: rgb(238, 119, 119)
}

.in-love::after {
    content: attr(data-content);
    position: absolute;
    top: -60px;
    left: 0px;
    height: 40px;
    overflow: hidden;
    color: rgb(222, 185, 185);
}

.out-bedminton {
    position: relative;
}

.in-bedminton {
    position: absolute;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;
    color: rgb(255, 0, 200);
    top: 30px;
    left: 300px;
}

.in-bedminton::before {
    content: attr(data-content);
    color: rgb(212, 117, 191);
    position: absolute;
    top: 30px;
    left: 60px;
    height: 60px;
    overflow: hidden;
}

.in-bedminton::after {
    content: attr(data-content);
    color: rgb(219, 182, 211);
    position: absolute;
    top: 60px;
    left: 120px;
    height: 60px;
    overflow: hidden;
}